[submodule "debugbreak"]
	path = debugbreak
	url = https://github.com/scottt/debugbreak.git
	branch = master
[submodule "tinyfiledialogs"]
	path = tinyfiledialogs
	url = https://git.code.sf.net/u/dunderbullen/tinyfiledialogs
	branch = master
[submodule "minizip"]
	path = minizip
	url = https://github.com/nmoinvaz/minizip.git
	branch = 1.2
